doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	script(src='/javascripts/bootstrap.js')
	script(src='/javascripts/jguery-1.9.1.min.js')
body
	block content