doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
	link(href='http://fonts.googleapis.com/css?family=Monoton', rel='stylesheet',type='text/css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	script(src='/javascripts/bootstrap.js')
	script(src='/javascripts/jquery-1.9.1.min.js')
	script(src='/javascripts/flora.js')
	script //setTimeout(function(){window.location = window.location;}, 200);
body
	block content